<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action="~/Name.cshtml" method="POST">
        <label for="fname">Imie:</label>
        <input type="text" id="fname" name="fname" />
        <input type="submit" value="Submit" />
    </form>
</body>
</html>
